@import './pages/data.css';
@import './pages/index.css';
@import './pages/login.css';
@import './pages/file.css';
@import './pages/system.css';

.treebg {
  overflow: scroll
}

.el-submenu .el-menu-item {
  min-width: 80px !important;
}

.el-tree {
  background: #f4f4f5 !important;
}

.el-submenu .is-active {
  background: #9b9b9b !important;
}

.el-submenu {
  color: #fff !important;
  background: #5f9599;
  background-image: linear-gradient(#70aeae, #5f9599, #70aeae);
}

.el-submenu__title {
  color: #fff;
}

.el-submenu__title {
  color: #fff;
  font-size: 16px;
}

.el-submenu__title:hover {
  background: #9b9b9b;
}

.is-opened {
  background: #9b9b9b !important;
}

.el-submenu .el-menu-item {
  min-width: 150px !important;
}

.el-menu-item.is-active {
  color: #fff !important;
  background: #9b9b9b !important;
  min-width: 100px !important;
}

.title_span {
  margin-left: 20px;
  height: 30px;
  line-height: 30px;
  color: #c9c9c9
}